<div class="container">
  <div class="card">
    <h5 class="card-header">User info</h5>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ userNAme }}</dd>

        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">{{ today | date: "medium" }}</dd>
      </dl>
    </div>
  </div>

  <div class="row" *ngIf="!displayImageResultTest">
    <div class="col-sm-6">
      <div class="card">
        <img
          class="card-img-top img-fluid"
          [src]="currentQuestion.image"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="alert alert-info" role="alert">
            Total points : <strong>{{ totalPoints }}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Question #{{ currentQuestion.id }}</div>
        <div class="card-body" [style.background]="backgroundColor">
          <div class="row">
            <blockquote class="blockquote mb-0">
              <p>
                {{ currentQuestion.question }}
                <i
                  *ngIf="showIconResponse"
                  [class]="iconClass"
                  aria-hidden="true"
                ></i>
              </p>
            </blockquote>
            <div *ngFor="let item of currentQuestion.responses">
              <div class="row">
                <button
                  class="btn btn-outline-secondary btn-response-options"
                  (click)="submitAnswer(item.value)"
                  [disabled]="disabledButton"
                >
                  {{ item.response }}
                </button>
                <br />
              </div>
            </div>
            <button
              *ngIf="!lgetPercentage"
              class="btn btn-primary"
              [disabled]="disabledContinueButton"
              (click)="goNext(currentQuestion.id + 1)"
            >
              Go Next
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>

            <div class="row">
              <button
                *ngIf="lgetPercentage"
                class="btn btn-primary"
                [disabled]="disabledContinueButton"
                (click)="getPercentage()"
              >
                Get Percentage
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="displayImageResultTest">
    <div class="col-sm-6">
      <img [src]="imageResultTest" width="300px" alt="image" />
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-header">Test Result</div>
        <div class="card-body">
          <h5 class="card-title">{{ totalPercentage.toFixed(2) }} %</h5>
          <p class="card-text">
            {{ resultText }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
